$monsoon: #8b8a8b;
$atlantis: #9ac93d;
$atlantis-light: #f5f9eb;
$sushi: #92bc3f;
$emperor: #4e4d4e;
$black-haze: #f4f6f6;
$fountain-blue: #6396c2;
$carnation: #f95454;
$malibu: #66b6ff;
$dolly: #fbff89;
$purple: #b471ca;
$purple-light: #f7f1fa;
$orange: #f5a259;
$orange-light: #fef6ee;
$blue-hard: #31a3de;
$blue-light: #d6edf8;
$blue-dark: #0078a7;
$blue-sky: #e6f8fe;
$yellow-change: #fdf4dc;
$yellow-dark: #f3c651;
$carnation-light: #ffdddd;

$white: #ffffff;
$black: #000000;
$alto: #cecece;
$silver: #c2c2c2;
$porcelain: #edeff1;
$gallery: #ebebeb;
$alabaster: #f9f9f9;
$ghost: #ced4da;
$abbey: #5a5d61;
$trout: #495057;
$black-light: #00000029;

$main-green: #00b690;
$persian-green: #03b4ae;
$prussian-blue: #002d44;
$blue-stone: #005b71;
$blue-dianne: #203e53;
$wedgewood: #47859f;
$teal: #007c7d;

$red-ribbon: #dc0933;

$color-success: #1fa982;
$color-warning: #ffa600;
$color-danger: #f75676;
$color-highlight: #ffd255;
$color-background-light-gray: #f4f4f4;

$placeholder: #f0f0f0;

.gray {
  color: #c5c5c5;
}
.atlantis {
  color: $atlantis;
}
.black {
  color: black;
}
.monsoon {
  color: $monsoon;
}
.emperor {
  color: $emperor;
}
.fountain-blue {
  color: $fountain-blue;
}
.malibu {
  color: $malibu;
}
.placeholder {
  color: $placeholder;
}
.white {
  color: white;
}
.dolly {
  color: $dolly;
}
.alabaster {
  color: $alabaster;
}
.purple {
  color: $purple;
}
.orange {
  color: $orange;
}
.blue-hard {
  color: $blue-hard;
}
.blue-dark {
  color: $blue-dark;
}
.blue-light {
  color: $blue-light;
}
.blue-sky {
  color: $blue-sky;
}
.yellow-change {
  color: $yellow-change;
}
.yellow-dark {
  color: $yellow-dark;
}
.carnation-light {
  color: $carnation-light;
}
.carnation {
  color: $carnation;
}

.bk-placeholder {
  background-color: $placeholder;
}
.bk-white {
  background-color: white;
}
.bk-atlantis {
  background-color: $atlantis;
}
.bk-emperor {
  background-color: $emperor;
}
.bk-dolly {
  background-color: $dolly;
}
.bk-alabaster {
  background-color: $alabaster;
}
.bk-gray {
  background-color: #c5c5c5;
}
.bk-light-gray {
  background-color: $color-background-light-gray;
}
.bk-malibu {
  background-color: $malibu;
}
.bk-purple {
  background-color: $purple;
}
.bk-purple-light {
  background-color: $purple-light;
}
.bk-orange {
  background-color: $orange;
}
.bk-orange-light {
  background-color: $orange-light;
}
.bk-blue-hard {
  background-color: $blue-hard;
}
.bk-blue-dark {
  background-color: $blue-dark;
}
.bk-blue-light {
  background-color: $blue-light;
}
.bk-blue-sky {
  background-color: $blue-sky;
}
.bk-yellow-change {
  background-color: $yellow-change;
}
.bk-yellow-dark {
  background-color: $yellow-dark;
}
.bk-carnation-light {
  background-color: $carnation-light;
}
.bk-carnation {
  background-color: $carnation;
}
