@use 'sass:math' as *;

$x: 50;

@while $x <= 250 {
  .height-#{$x} {
    height: #{$x}px;
  }
  $x: $x + 1;
}

$y: 1;
@while $y <= 100 {
  .height-p-#{$y} {
    height: percentage($y/100);
    color: white;
  }
  $y: $y + 1;
}
